@using System.Collections
@using NewsFeed.Models
@model System.Collections.Generic.IEnumerable<Tweet>

<div class="row">
    @foreach (var tweet in Model)
    {
        <div class="col-md-3">
            <img src="@tweet.User.ProfileImageUrlHttps"> @tweet.User.ScreenName: @tweet.Text
        </div>
    }
</div>
