@using Microsoft.AspNetCore.Mvc.Rendering
@model System.Collections.Generic.IEnumerable<Tweet>

<div id="tweets">
    @Html.Partial("~/Views/Partial/_Tweets.cshtml") 
</div>

<script type="text/javascript">
    window.setInterval(function() {
        $.get('/Home/Partial', function (partialViewResult) {
            $("#tweets").html(partialViewResult);
        });
    }, 300000);
</script>