@using System.Collections
@using NewsFeed.Models
@model System.Collections.Generic.IEnumerable<Tweet>

@foreach (var tweet in Model)
{
    <div class="tweet">
        <img src="@tweet.User.ProfileImageUrlHttps"> <strong>@tweet.User.Name:</strong> @tweet.Text
    </div>
}
