@using System.Collections
@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@using NewsFeed.Models
@model System.Collections.Generic.IEnumerable<Tweet>

<div id="tweets">
    @Html.Partial("~/Views/Partial/_Tweets.cshtml") 
</div>

<script type="text/javascript">
    window.setInterval(function() {
        // Send an AJAX request every 5s to poll for changes and update the UI
        // example with jquery:
        $.get('/Home/Partial', function (partialViewResult) {
            $("#tweets").html(partialViewResult);
            // TODO: use the results returned from your controller action
            // to update the UI
        });
    }, 300000);
</script>